.artistes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.avatar{
	width : 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 3px 3px 7px lightgrey;
}

.picture-container {
    position: relative;
    height: 150px;
    width: 150px;
    margin:20px;
}
.picture-container:hover .picture {
    transform: rotateY(180deg);
}
.picture {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
   

}
.picture-front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.picture-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(181, 203, 153, 0.4);
    border-radius: 50%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    box-shadow: 3px 3px 7px lightgrey;
}

.picture-back p{
    text-align: center ;
    margin: 60px auto;
}
