.btn-green{
	background-color:rgb(24, 111, 101);
	color:white;
	padding: 10px 15px;
	border-radius:10px;
	transition: color 0.3s ease;
}
.btn-green:hover{
	background-color:rgb(181, 203, 153);
	color:white;
}
