.cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}


.card{
	background: white;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 3px 3px 7px lightgrey;
	border-radius: 10px;
	margin: 10px;
	flex-basis: 200px;
	flex-grow:1;
	transition: transform .1s;
}

.card img{
	border-radius: 10px;
}

.card h3{
	flex-grow: 1;
	padding-left: 50px;
	font-size: 20px;
}

.card:hover{
	background-color: rgb(181, 203, 153, 0.4);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}


